<div class="historial">
	<table id="table">
		<thead>
			<tr>
				<th colspan="7">Historial de Llamadas</th>
			</tr>
		</thead>
			<tr class="header-table">
				<th>Fecha</th>
				<th>Lugar</th>
				<th>Emergencia</th>
				<th>Necesidad</th>
				<th>Mensaje</th>
				<th>Nodo</th>
			</tr>
		<body>
			{{#each history}}
			<tr>
				<th>{{date}}</th>
				<th>{{place}}</th>
				<th>{{emergency}}</th>
				<th>{{need}}</th>
				<th>{{message}}</th>
				<th>{{node}}</th>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
      {{!-- <div>
			<table id="table2">
				<tfoot>
					<td id="home"><button class="home"><a href="/profile">Home</a></button></td>
					<td id="nodos"><button class="nodos"><a href="/nodes">Nodos</a></button></td>
					<td id="menu"></td>
					<td id="menu"></td>
					<td id="menu"></td>
					<td id="menu"><button class="actualizar">
						<a href="/history">Actualizar</a>
					</button><button class="conectar">
						<a href="#">Conectar</a>
					</button>
					</td>
				</tfoot>
			</table>
		</div> --}}